<nav>
    <a href="/">Inicio</a>
    <a href="/login" *ngIf="!user">Iniciar sesión</a>
    <a href="/groups" *ngIf="user">Mis grupos</a>
    <a href="/logout" *ngIf="user">Cerrar sesión</a>
</nav>


<div class="group_sidebar" *ngIf="group">
    <ul>
        <li><a [href]="'/groups/' + group.uuid">Inicio</a></li>
        <li><a [href]="'/groups/' + group.uuid + '/projects'">Proyectos</a></li>
        <li><a [href]="'/groups/' + group.uuid + '/items'">Inventario</a></li>
        <li><a [href]="'/groups/' + group.uuid + '/members'">Miembros</a></li>
        <li><a [href]="'/groups/' + group.uuid + '/requests'">Solicitudes</a></li>
        <li><a [href]="'/groups/' + group.uuid + '/history'">Historial</a></li>
    </ul>
</div>
